<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  

	<title>Biblioteca geral</title>


  
    <!-- bootstrap -->
    <link href="_css/bootstrap.css" rel="stylesheet">

    <!--glyphicon-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- my css -->
    <link href="_css/style.css" rel="stylesheet">

</head>
<body id="body-bi">

	<header id="my-header" >
		<img id="logomarca-header" height="50px" src="_img/logo-icon.png">
	</header>
		<div id="div-form" class="table-responsive " >
		<div class="table-responsive col-sm-5 col-xs-12 aling-center"  >
		<h1 id="h1-bi">Biblioteca</h1>
		<table class="table table-hover" id="table-bi">
		  <thead>
		    <tr>
		      <th scope="col">Palavra</th>
		      <th scope="col">Traducao</th>
		      <th scope="col" colspan="2" class="text-center">Opções</th>
		    </tr>
		  </thead>
		  <tbody>
			<tr th:each="palavra : ${palavras}" class="text-left">
				<td><span th:text="${palavra.nome}"></span>disjadiojasiodja</td>
				<td><span th:text="${palavra.traducao1}"></span>dosjadioasj</td>
				<td class="text-center">Button</td>
				<td class="text-center">Button</td>			
			</tr>
		    
		  </tbody>
		</table>
		</div>
		</div>
			<footer  id="my-footer">
		
		<div id="sponsors" class="aling-center">
			<hr>
				<a href="http://fapce.edu.br/" target="_blank" ><img height="30px" src="_img/logo-fap.png"></a>
				
				<a href="http://nexti.fapce.edu.br" target="_blank" ><img  height="30px" src="_img/logo-nexti.png"></a>
		</div>		
		
		<div id="copy-footer" class="col-xs-12 col-sm-12" >
			<p>© Núcleo de Extensão em Tecnologia da Informação </p>
		</div>	
	</footer>

</body>
</html>