<!DOCTYPE html>
<html lang="pt-br"  >
<head>
<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  

	<title>Biblioteca geral</title>

    <!-- bootstrap -->
    <link href="_css/bootstrap.css" rel="stylesheet">

    <!--glyphicon-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- my css -->
    <link href="_css/style.css" rel="stylesheet">

</head>
<body>
	<header id="my-header">
		<img class="img-responsive col-sm-1 aling-center "  src="_img/logo-icon.png">
		<hr>
	</header>
	<div class="container fluid aling-center" >
		<div class="col-sm-3 aling-center" >
				<table>
					<tr>
						<td>Palavra A</td>	
						<td><img class="img-responsive col-sm-3 col-xs-2 aling-right" src="_img/edit.png" width="10"></td>
						<td><img class="img.-responsive col-sm-3 col-xs-2 aling-right" src="_img/remove.png"></td>
					</tr>
			</table>
		</div>
		
	</div>
	<div><img class="img-responsive col-sm-3 col-xs-2 aling-right" src="_img/add.png">
	</div>
	<!--<footer class="footer navbar-fixed-bottom">
			<img class="img-responsive col-sm-3 col-xs-2 aling-right" src="_img/add.png">
		</footer>
-->
</body>
</html>